{% extends "base.html" %}

{% block css %}
<title>COVID-19 Tests</title>
<link rel="stylesheet" href="tests.css">
{% endblock css %}

{% block body %}

<div class=" table-div">
    <table border="1">
        <tr>
            <th>Test ID</th>
            <th>Patient ID</th>
            <th>Hospital ID</th>
            <th>Test Type</th>
            <th>Test Date</th>
            <th>Test Result</th>
        </tr>
        {% for test in tests %}
        <tr>
            <td>{{ test[0] }}</td>
            <td>{{ test[1] }}</td>
            <td>{{ test[2] }}</td>
            <td>{{ test[3] }}</td>
            <td>{{ test[4] }}</td>
            <td>{{ test[5] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock body %}